body {
	margin: 0;
	background-color:#ddd;
}

/*header start*/

#header {
	background-color:#2d78bf;
}

#logo {
	padding: 30px 0 0 10 px;
}

#nav {
	list-style: none;
	padding: 0;
	height: 28px;
	background: url('images/123.jpg') left top repeat-x;
	border-bottom: 3px solid #ccc;
}

#nav li {
	width: 85px;
	line-height: 28px;
	text-align: center;
	border-right: 1px solid #ccc;
	float: left;
}

#nav a {
	display: block;
	text-decoration: none;
	font-size: 0.8rem;
	color#333;
}

#nav a:hover{
	background:url('images/123.jpg') left -100px repeat-x;
	color:#fff;
}

/*container start*/

#container {
	position: relative;
	background: #fff url('images/55.png') left top repeat-y;
	/*height: 650px;*/
}

	#menu {
		width: 201px;
		position: absolute;
		left:0;
		top:20px;
	}

	#main {
		/*width:550px;
		position: absolute;
		left:190px;
		top: 20px;*/
		padding-top:20px;
		margin-left:220px;
		margin-right: 205px;
	}

	#ad {
		width: 205px;
		position: absolute;
		/*left: 750px;*/
		right: 15px;
		top: 20px;
	}

#menu h2 {
	background-color: #2d78bf;
	color: #fff;
	font-size: 0.8rem;
	padding: 4px 0 4px 15px;
	margin:0;
	font-weight: normal;
}

#menu ul, #main ul {
	list-style: none;
	padding: 0 0 0 15px;
	margin-top: 5px;
}

#menu li, #main li {
	border-bottom: 1px solid #ccc;
	line-height: 1.4rem;
}

#menu a, #main a {
	font-size: 0.78rem;
	background: url('images/123.jpg')left center no-repeat;
	padding-left: 14px;
}	

/*main start*/

#main h1 {
	font-size: 1.1rem;
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
	margin-top: 0;
}

#main p {
	font-size: 1.9rem;
	letter-spacing: 0.1rem;
	line-height: 1.3rem;
	color: #666;
}

p.date {
	font-size: 0.8rem !important;
	text-align: right;
}

#main h2 {
	font-size: 0.78rem;
	background-color:#efefef;
	border-bottom: 1px solid #ccc;
	border-left: 5px solid #2b78bf;
	padding: 4px 0 4px 10px;
	font-weight: normal;
}

/*footer start*/

#footer {
	text-align: center;
	font-size: 0.8rem;
	border-top: 3px solid #ccc;
	line-height: 1.5rem;
}

#footer p {
	margin: 0;
}